<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">

    <title>Delete Product</title>
</head>

<body>
    <header>
        <div id="siteNavigation">
            <a href="/add">Add</a>
            <a href="/delete">Delete</a>
            <a href="/browse">Browse</a>
        </div>

    </header>


    <form id="productForm" action="/products" method="post">
        <div>
            <h1>Delete a product in the database</h1>

            <label for="productName">Product name: </label>
                
            <input type="text" id="productName" name="productName"></input>
        </div>
    <input type="submit" id="addToDB" value="Remove product from database"></input>
    </form>
    
    <footer><p>NodeJS Andreas Lykholt Svendsen</p></footer>
</body>
</html>